<h1 class="content-subhead">Future Features</h1>
<section class="post">
    <div class="post-description">
        <p>Today, Daily Idea is just a place where you can email your ideas and I'll store them for you. Here's what I have in mind for the site:</p>
        <p><strong>Searchability</strong> One of the main objectives is to make sure that your ideas are easily searchable, so the technology underlying this is built with document search in mind (<a target="_blank" href="http://exploringelasticsearch.com/overview.html#sec-over-what-is-elasticsearch">Elasticsearch</a>).</p>
        <p><strong>Comparison</strong> Another feature of search engines is that I can help you identify ideas submitted by other people that may be similar to your idea. I think this would be great for helping nurture your own idea or finding collaborators.</p>
        <p><strong>Voting</strong> If ideas are publicly accessible, they can be voted on and you can get feedback about which of your ideas are well-liked by others.</p>
        <p><strong>Update</strong> The documents will be designed to let you come back and update them or add to them. Ideas start as fragile, barely-formed sparks, but with nurturing and care, they can grow into amazing things.</p>
        <p><strong>Reminders</strong> I can send you occasional reminders of ideas you've had in the past, or let you know if a previous idea is receiving attention from other people.</p>
        <p><strong>Privacy?</strong> For now all ideas will be publicly searchable. Soon I'll allow users to have private ideas. I will probably charge for private ideas. Ideas want to be shared!</p>

    </div>
    <a class="pure-button cta" href="mailto:ideas@dailyidea.com?subject=Sign Up&body=Robot Servants%0D%0A%0D%0AWe're clearly moving toward a time of increased automation. Why not robot servants in the household?">Send Your First Idea Now!</a>
</section>

