<h1 class="content-subhead">Inspiration</h1>
<section class="post">
    <div class="post-description">
        <p>
            <a href="http://www.jamesaltucher.com/" target="_blank">James Altucher</a> wrote a blog post called <a target="_blank" href="http://www.jamesaltucher.com/2012/10/how-to-become-an-idea-machine/">How To Become An Idea Machine</a>.
        </p>
        <p>
            And I thought it was awesome.
        </p>
        <p>
            In fact, he's written <a target="_blank" href="http://www.jamesaltucher.com/2012/04/how-to-have-great-ideas/">a lot</a> <a target="_blank" href="http://www.jamesaltucher.com/2014/10/the-idea-matrix-what-changed-everyones-life-after-choose-yourself/">on the topic</a> <a target="_blank" href="http://www.jamesaltucher.com/2014/05/the-ultimate-guide-for-becoming-an-idea-machine/">of generating ideas</a>, but the most important part of it is this:
        </p>
        <blockquote>
            Creating ideas is a skill. And like any skill, it takes practice. Thinking of ideas every day strengthens your "idea muscle".
        </blockquote>
        <p>
            I made Daily Idea to make it easy to practice coming up with ideas.
        </p>
    </div>
    <a class="pure-button cta" href="mailto:ideas@dailyidea.com?subject=Sign Up&body=Robot Servants%0D%0A%0D%0AWe're clearly moving toward a time of increased automation. Why not robot servants in the household?">Send Your First Idea Now!</a>
</section>
