<h1 class="content-subhead">Get Started</h1>
<section class="post">
    <div class="post-description">
        <p>
            To get started, just send your first idea to <a href="mailto:ideas@dailyidea.com">ideas@dailyidea.com</a> with the subject "Sign Up".
        </p>
        <p>
            The format is:
        </p>
        <ol>
            <li>First, a short, one-line description of the idea</li>
            <li>(a blank row)</li>
            <li>Then as much detail or elaboration on the idea as you would like to include</li>
        </ol>
        <p>
            For example:
        </p>
    </div>
    <div class="post-description">
        <pre class="code">
<code>Longer Lasting Cell Phone Batteries

Cell phones always inconveniently run out of batteries by 6pm! I bet people would love batteries that last a week!</code></pre>
    </div>
    <a class="pure-button cta" href="mailto:ideas@dailyidea.com?subject=Sign Up&body=Robot Servants\r\rWe're clearly moving toward a time of increased automation. Why not robot servants in the household?">Send Your First Idea Now!</a>
</section>

